/* hero */ 

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    background-color: #d5a87f;
    padding: 30px 50px;
    box-shadow: 
    0 6px 12px rgba(0,0,0,0.25),
    0 20px 40px rgba(0,0,0,0.22),
    0 40px 80px rgba(0,0,0,0.18);
    margin-bottom: 15px;
}

#heroText {
    color: #fff8eb;
}

#heroText h1 {
    font-size: 40px;
}

#heroText p {
    font-size: 20px;
    padding-top: 10px;
}

/* Popular dishes */

#popularDishes {
    font-size: 20px;
    background-color: #507063;
    color: #fff8eb;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding: 30px 50px;
    padding-bottom: 60px;

    background-image: url("../images/bamboo-branch.png");
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: contain; 
}

#dishes {
    display: flex;
    gap: 200px;
}

.dish img{
    height: 300px;
    width: auto;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 250px;
}

.dish div {
    font-size: 15px;
}

/* Customer Reviews */

#customer-reviews {
    background-color: #d5a87f;
    color: #fff8eb;
    text-align: center;
    padding: 30px 50px;
}

#customer-reviews h1 {
    padding-bottom: 80px;
}

.review {
    display: none;      
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.review-slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    min-height: 160px; 
}

.review.active {
    display: block;
    opacity: 1;
}

.review p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 10px 0;
}

.review .stars {
    color: #FFB400; 
    font-size: 20px;
    margin-bottom: 10px;
}

.review-nav button {
    background-color: #507063; 
    color: #fff8eb;           
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

.review-nav button:hover {
    background-color: #3b5149;
}
