/* Hero Section */   

#menuHero {
  position: relative;
  height: 400px;
  background-image: url('../images/menu-hero.jpeg');
  background-size: cover;
  background-position: center;
}

#menuOverlay {
  position: absolute;      
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff8eb;             
  text-align: center;
  padding: 20px;
}

/* Meny Display */

#menuSpacing {
    padding: 3rem 6rem;
    background-color: #d5a87f;
}

#menuContainer {
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    background-color: #507063;
    border-radius: 12px;
    outline: 2px solid #fff8eb;
    outline-offset: -20px;
}

#categoryTitle {
    grid-column: 2 / 3;  
    grid-row: 1 / 2;     
    justify-self: center; 
    align-self: end;     
    font-size: 40px;       
    font-weight: 700;      
    margin-bottom: 1.5rem; 
    text-transform: uppercase; 
    letter-spacing: 1px;  
    color: #fff8eb;    
    text-decoration: underline;
}


#categories {
    grid-column: 1 / 2;  
    grid-row: 2 / 3;    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#categories button {
    color: #fff8eb;
    padding: 1rem 1.2rem;   
    border: none;
    background: #d5a87f;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;        
    border: 2px solid #fff8eb;
    border-radius: 6px;     
    transition: 0.2s ease;
}

#categories button:hover {
    filter: brightness(90%);                    
    transform: translateY(-2px);
}

#menuGrid {
    grid-column: 2 / 3;  
    grid-row: 2 / 3;     
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); 
    grid-auto-rows: 250px;                          
    justify-content: start;                         
    gap: 20px;
    padding-left: 70px;
}

.menu-item {
    width: 100%;            
    height: 100%;           
    background: #d5a87f;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.2s ease;
    color: #fff8eb;
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: 150px;         
    object-fit: cover;
}

.menu-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.menu-info {
    padding: 1rem;
    text-align: center;
}

.menu-info h3 {
    margin: 0;
    font-size: 1.1rem;
}

.price {
    margin-top: 0.4rem;
    font-weight: bold;
}
