* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

body {
    background-color: #507063;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #507063;
    padding: 40px 60px 40px 60px;

    background-image: 
        linear-gradient(rgba(80, 112, 99, 0.7), rgba(80, 112, 99, 0.05)),
        url('../images/bamboo.png');
    background-repeat: no-repeat;
    background-position: left top;  
    background-size: 200px auto;   
}

#name {
    font-size: 30px;
    font-weight: bold;
    color: #fff8eb;  
}

/* Nav button animation effect */

header nav button {
  position: relative;
  background: none;
  border: none;
  padding: 8px 0;       
  font-size: 20px;
  font-weight: bold;
  color: #fff8eb;
  cursor: pointer;
  outline: none;
}

header nav button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: rgba(255, 255, 235, 0.5);
  transition: width 0.3s ease;
}

header nav button:hover::after {
  width: 100%;
}

header nav button + button {
  margin-left: 30px;
}

/* Footer */ 

#footer {
    background-color: #507063;
    color: #fff8eb;
    padding: 30px 50px;
    display: flex;
    justify-content: space-evenly;
}

.footer-content {
    display: flex;
    gap: 10px;
}

svg {
    fill: #fff8eb;
    height: 30px;
    width: 30px;
}

.info h3{
    padding-bottom: 5px;
}